<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="general"
              label="COM_FOOTBALLMANAGER_FIELD_CONFIG_GENERAL_DISPLAY"
              description="COM_FOOTBALLMANAGER_FIELD_CONFIG_GENERAL_DESC"
    >
        <field
                name="load_uikit"
                type="radio"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_LOAD_UIKIT_LABEL"
                default="1"
                layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="weight_unit"
                type="text"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_WEIGHT_UNIT_LABEL"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_WEIGHT_UNIT_DESC"
                default="kg"
        />

        <field
                name="height_unit"
                type="text"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_HEIGHT_UNIT_LABEL"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_HEIGHT_UNIT_DESC"
                default="m"
        />

        <field
                name="export_format"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_EXPORT_FORMAT_LABEL"
                default="csv"
        >
            <option value="csv">CSV</option>
            <option value="xls">XLS</option>
            <option value="xlsx">XLSX</option>
        </field>

    </fieldset>
    <fieldset name="locations"
              label="COM_FOOTBALLMANAGER_FIELD_CONFIG_INDIVIDUAL_LOCATIONS_DISPLAY"
              description="COM_FOOTBALLMANAGER_FIELD_CONFIG_INDIVIDUAL_LOCATIONS_DESC"
    >

        <field name="filter_type"
               type="list"
               label="COM_FOOTBALLMANAGER_FIELD_PARAMS_FILTER_TYPE_LABEL"
               default="tabs"
               description="COM_FOOTBALLMANAGER_FIELD_PARAMS_FILTER_TYPE_DESC"
        >
            <option value="tabs">COM_FOOTBALLMANAGER_FIELD_CONFIG_FILTER_TYPE_TABS</option>
            <option value="subnav">COM_FOOTBALLMANAGER_FIELD_CONFIG_FILTER_TYPE_SUBNAV</option>
            <option value="subnav-pills">COM_FOOTBALLMANAGER_FIELD_CONFIG_FILTER_TYPE_SUBNAV_PILLS</option>
        </field>
        <field name="items_list_type"
               type="list"
               label="COM_FOOTBALLMANAGER_FIELD_PARAMS_ITEMS_LIST_TYPE_LABEL"
               default="divider"
               description="COM_FOOTBALLMANAGER_FIELD_PARAMS_ITEMS_LIST_TYPE_DESC"
        >
            <option value="divider">COM_FOOTBALLMANAGER_FIELD_CONFIG_LOCATION_LIST_TYPE_DIVIDER</option>
            <option value="striped">COM_FOOTBALLMANAGER_FIELD_CONFIG_LOCATION_LIST_TYPE_STRIPED</option>
        </field>
        <field name="items_list_size"
               type="list"
               label="COM_FOOTBALLMANAGER_FIELD_PARAMS_ITEMS_LIST_SIZE_LABEL"
               default="medium"
               description="COM_FOOTBALLMANAGER_FIELD_PARAMS_ITEMS_LIST_SIZE_DESC"
        >
            <option value="small">COM_FOOTBALLMANAGER_FIELD_CONFIG_LOCATION_LIST_SIZE_SMALL</option>
            <option value="medium">COM_FOOTBALLMANAGER_FIELD_CONFIG_LOCATION_LIST_SIZE_MEDIUM</option>
            <option value="large">COM_FOOTBALLMANAGER_FIELD_CONFIG_LOCATION_LIST_SIZE_LARGE</option>
        </field>
        <field
        name="location_show_sponsors"
        type="radio"
        label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SHOW_SPONSORS_LABEL"
        default="1"
        layout="joomla.form.field.radio.switcher">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset name="sponsors"
              label="COM_FOOTBALLMANAGER_FIELD_CONFIG_SPONSORS_DISPLAY"
              description="COM_FOOTBALLMANAGER_FIELD_CONFIG_SPONSORS_DESC"
    >
        <field
                name="sponsors_layout"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_LAYOUT_LABEL"
                default="sponsors.grid"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_LAYOUT_DESC"
        >
            <option value="sponsors.grid">COM_FOOTBALLMANAGER_FIELD_OPTION_GRID</option>
            <option value="sponsors.list">COM_FOOTBALLMANAGER_FIELD_OPTION_LIST</option>
        </field>

        <field
                name="sponsors_card_style"
                showon="sponsors_layout:sponsors.grid"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_ITEMS_LAYOUT_LABEL"
                default="default"
        >
            <option value="none">COM_FOOTBALLMANAGER_FIELD_OPTION_NONE</option>
            <option value="default">COM_FOOTBALLMANAGER_FIELD_OPTION_DEFAULT</option>
            <option value="primary">COM_FOOTBALLMANAGER_FIELD_OPTION_PRIMARY</option>
            <option value="secondary">COM_FOOTBALLMANAGER_FIELD_OPTION_SECONDARY</option>
        </field>

        <field
                name="sponsors_grid_columns"
                showon="sponsors_layout:sponsors.grid"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_LABEL"
                default="2"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_DESC"
        >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </field>

        <field
                name="sponsors_grid_columns_s"
                showon="sponsors_layout:sponsors.grid"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_S_LABEL"
                default="3"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_S_DESC"
        >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </field>

        <field
                name="sponsors_grid_columns_m"
                showon="sponsors_layout:sponsors.grid"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_M_LABEL"
                default="4"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_M_DESC"
        >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </field>

        <field
                name="sponsors_grid_columns_l"
                showon="sponsors_layout:sponsors.grid"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_L_LABEL"
                default="5"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_L_DESC"
        >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </field>

        <field
                name="sponsors_grid_columns_xl"
                showon="sponsors_layout:sponsors.grid"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_XL_LABEL"
                default="6"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_COLUMNS_XL_DESC"
        >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </field>

        <field
        name="sponsors_grid_size"
        showon="sponsors_layout:sponsors.grid"
        type="list"
        label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_GRID_SIZE_LABEL"
        default="small"
        >
            <option value="collapse">COM_FOOTBALLMANAGER_FIELD_OPTION_COLLAPSE</option>
            <option value="small">COM_FOOTBALLMANAGER_FIELD_OPTION_SMALL</option>
            <option value="medium">COM_FOOTBALLMANAGER_FIELD_OPTION_MEDIUM</option>
            <option value="large">COM_FOOTBALLMANAGER_FIELD_OPTION_LARGE</option>
        </field>

        <field
                name="sponsors_list_style"
                showon="sponsors_layout:sponsors.list"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_LIST_LAYOUT_LABEL"
                default="divider"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_LIST_LAYOUT_DESC"
        >
            <option value="divider">COM_FOOTBALLMANAGER_FIELD_OPTION_DIVIDER</option>
            <option value="striped">COM_FOOTBALLMANAGER_FIELD_OPTION_STRIPED</option>
        </field>
        <field
                name="render_sponsor_links"
                type="radio"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_RENDER_LINKS_LABEL"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_RENDER_LINKS_DESC"
                default="1"
                layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="sponsors_image_src"
                type="list"
                label="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_IMGSRC_LABEL"
                default="logo"
                description="COM_FOOTBALLMANAGER_FIELD_PARAMS_SPONSORS_IMGSRC_DESC"
        >
            <option value="0">JDISABLED</option>
            <option value="logo">COM_FOOTBALLMANAGER_FIELD_OPTION_LOGO</option>
            <option value="image">COM_FOOTBALLMANAGER_FIELD_OPTION_IMAGE</option>
        </field>
    </fieldset>
    <fieldset name="permissions"
              label="JCONFIG_PERMISSIONS_LABEL"
              description="JCONFIG_PERMISSIONS_DESC"
    >
        <field name="rules"
               type="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               validate="rules"
               filter="rules"
               component="com_footballmanager"
               section="component"
        />
    </fieldset>
</config>
